

/* right align our cheque values */
input.cheque {
  text-align: right;
}

/* Hide the spinners */
input.cheque::-webkit-outer-spin-button,
input.cheque::-webkit-inner-spin-button {
  display: none;
}

.cheque {
  background-color: rgb(245, 240, 240);
  margin: 0.5em;
  border-radius: 4px;
  padding: 0;
  width: 15em;
}

